@model Domain.Member

@{
    ViewData["Title"] = "Index";
}
<head>
    <style>
        #map {
            height: 500px;
            width: 100%;
        }
    </style>
</head>

<h2>Welcome, @Model.Name</h2>

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Title)
            </td>
            <td>
                @Html.DisplayFor(model => model.Points)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
            </td>
        </tr>
    </tbody>
</table>*@
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            @{ if (Model.ActivePassport == false)
                {
                    <a asp-action="CustomerPassport">Create A Passport</a>
                }
            }
            <div id="map"></div>
            @{
                if (Model.ActivePassport == false)
                {
                    <a asp-action="CustomerPassport">Create A Passport</a>
                }
                else if (Model.ActivePassport == true)
                {
                    <script>
        var map;
 function initMap() {
     var myLatLng1 = { lat: @Model.Passport.StopOne.Business.lat, lng: @Model.Passport.StopOne.Business.lng};
     var myLatLng2 = {lat: @Model.Passport.StopTwo.Business.lat, lng: @Model.Passport.StopTwo.Business.lng};
     var myLatLng3 = {lat: @Model.Passport.StopThree.Business.lat, lng: @Model.Passport.StopThree.Business.lng};
     var myLatLng4 = { lat: @Model.Passport.StopFour.Business.lat, lng: @Model.Passport.StopFour.Business.lng};

     @*var myLatLng5 = {lat: @Model.Passport.StopFive.Business.lat, lng: @Model.Passport.StopFive.Business.lng};*@


  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 15,
    center: myLatLng1
  });

  var marker = new google.maps.Marker({
    position: myLatLng1,
    map: map,
      title: 'Bar1'
  });
       var marker2 = new google.maps.Marker({
    position: myLatLng2,
    map: map,
           title: 'Bar2'
 });
       var marker3 = new google.maps.Marker({
    position: myLatLng3,
    map: map,
           title: 'Bar3'
 });
       var marker4 = new google.maps.Marker({
    position: myLatLng4,
    map: map,
           title: 'Bar4'
       });
         //      var marker5 = new google.maps.Marker({
         //   position: myLatLng5,
         //   map: map,
         //          title: 'Bar5'
         //});
}
                    </script>

                    var srcKey = "https://maps.googleapis.com/maps/api/js?key=" + APIKey.SecretKey + "&callback=initMap async defer";

                    <script src=@srcKey></script>
                }
            }
        </div>
        <div class="col-md-5 whiteText">
            @if (Model.ActivePassport == true && Model.Passport.CurrentStop == 1)
            {
                <h2>Your current stop is:<br /> @Model.Passport.StopOne.Business.Name</h2>
                <h3>@Model.Passport.StopOne.Business.Address</h3>
                <h3>@Model.Passport.StopOne.Business.City</h3>
                <h3>@Model.Passport.StopOne.Business.State</h3>
                <br />
                <div>
                    <form method="post" asp-action="pincheck" asp-route-stop="1">
                        <button style="color: black">Enter Business Pin</button>
                        <input type="text" name="pin" />
                    </form>
                </div>
            }
            else if (Model.ActivePassport == true && Model.Passport.CurrentStop == 2)
            {
                <h2>Your current stop is:<br /> @Model.Passport.StopTwo.Business.Name</h2>
                <h3>@Model.Passport.StopTwo.Business.Address</h3>
                <h3>@Model.Passport.StopTwo.Business.City</h3>
                <h3>@Model.Passport.StopTwo.Business.State</h3>
                <br />
                <div>
                    <form method="post" asp-action="pincheck" asp-route-stop="2">
                        <button style="color: black">Enter Business Pin</button>
                        <input type="text" name="pin" />
                    </form>
                </div>
            }
            @if (Model.ActivePassport == true && Model.Passport.CurrentStop == 3)
            {
                <h2>Your current stop is: @Model.Passport.StopThree.Business.Name</h2>
                <h3>@Model.Passport.StopThree.Business.Address</h3><br /><h3>@Model.Passport.StopThree.Business.City</h3>
                <h3>@Model.Passport.StopThree.Business.State</h3>
                <br />
                <div>
                    <form method="post" asp-action="pincheck" asp-route-stop="3">
                        <button style="color: black">Enter Business Pin</button>
                        <input type="text" name="pin" />
                    </form>
                </div>
            }
            @if (Model.ActivePassport == true && Model.Passport.CurrentStop == 4)
            {
                <h2>Your current stop is: @Model.Passport.StopFour.Business.Name</h2>
                <h3>@Model.Passport.StopFour.Business.Address</h3>
                <h3>@Model.Passport.StopFour.Business.City</h3>
                <h3>@Model.Passport.StopFour.Business.State</h3>
                <br />
                <div>
                    <form method="post" asp-action="pincheck" asp-route-stop="4">
                        <button style="color: black">Enter Business Pin</button>
                        <input type="text" name="pin" />
                    </form>
                </div>
            }

        </div>
        <div>
            <a asp-action="SeeMemberMessages">See Messages</a> |
            <a asp-action="Index">Back to List</a>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

