@model ViewModel


@{
    ViewData["Rank"] = "rank";


}
<h2>Rank: @Model.Members.Rank | Points: @Model.Members.Points</h2>

<center>
    <h2>Rank</h2>
    @{
        foreach (Rank rank in Model.Ranks)
        {

            <p>Rank: @rank.Id | Title: @rank.Name | Points Needed To Obtain Rank: @rank.Points</p>

        }
    }
</center>
