@model Domain.Member

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Title)
            </td>
            <td>
                @Html.DisplayFor(model => model.Points)
            </td>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@Model.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                <a asp-action="CustomerPassport">Passport</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p id="#prompt"></p>
<table id="#map"></table>

@*@{
    if (this.User.ActivePassport == true)
    {
        
        <script>
            <p>Click here to see your passport</p>
            //Link to CustomerPassport.cshtml
        </script>
        
    }
    else
    {
       
        <p>Would you like to start a new passport?</p>
        <a asp-controller="Members" asp-action="CreatePassport">Add Two Products</a>
    }
}*@

