@model Domain.Member

@{
    ViewData["Title"] = "Index";
}
<head>
    <style>

         /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
         #map {
             height: 1000px;
             width: 1000px;
         }
         /* Optional: Makes the sample page fill the window. */
    </style>
    </head>

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Title)
            </td>
            <td>
                @Html.DisplayFor(model => model.Points)
            </td>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@Model.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                <a asp-action="CustomerPassport">Passport</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p id="#prompt"></p>
<div id="map"></div>
    @{
        if (Model.ActivePassport == false)
        {

        }
        else if (Model.ActivePassport == true)
        {
            <script>
        var map;
 function initMap() {
     var myLatLng1 = { lat: @Model.Passport.StopOne.Business.lat, lng: @Model.Passport.StopOne.Business.lng};
     var myLatLng2 = {lat: @Model.Passport.StopTwo.Business.lat, lng: @Model.Passport.StopTwo.Business.lng};
     var myLatLng3 = {lat: @Model.Passport.StopThree.Business.lat, lng: @Model.Passport.StopThree.Business.lng};
     var myLatLng4 = {lat: @Model.Passport.StopFour.Business.lat, lng: @Model.Passport.StopFour.Business.lng};
     @*var myLatLng5 = {lat: @Model.Passport.StopFive.Business.lat, lng: @Model.Passport.StopFive.Business.lng};*@

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 15,
    center: myLatLng1
  });

  var marker = new google.maps.Marker({
    position: myLatLng1,
    map: map,
      title: 'Bar1'
  });
       var marker2 = new google.maps.Marker({
    position: myLatLng2,
    map: map,
           title: 'Bar2'
 });
       var marker3 = new google.maps.Marker({
    position: myLatLng3,
    map: map,
           title: 'Bar3'
 });
       var marker4 = new google.maps.Marker({
    position: myLatLng4,
    map: map,
           title: 'Bar4'
 });
 //      var marker5 = new google.maps.Marker({
 //   position: myLatLng5,
 //   map: map,
 //          title: 'Bar5'
 //});


}
            </script>

             var srcKey = "https://maps.googleapis.com/maps/api/js?key=" + APIKey.SecretKey + "&callback=initMap async defer"; 

            <script src=@srcKey></script>
        }
    }




@*@{
    if (this.User.ActivePassport == true)
    {
        
        <script>
            <p>Click here to see your passport</p>
            //Link to CustomerPassport.cshtml
        </script>
        
    }
    else
    {
       
        <p>Would you like to start a new passport?</p>
        <a asp-controller="Members" asp-action="CreatePassport">Add Two Products</a>
    }
}*@

