@model IEnumerable<Domain.Message>

@{
    ViewData["Title"] = "MessageBoard";
}

<h2>MessageBoard</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentMember)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentBar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WasFree)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentMember)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentBar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WasFree)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
