@model Domain.Business

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Premium)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Address)
            </td>
            <td>
                @Html.DisplayFor(model => model.Premium)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@Model.Id">Update Profile</a> |
                <a asp-action="Premium" asp-route-id=>Go Premium</a>
                <a asp-action="SeeMemberMessages">See Messages</a>
            </td>
        </tr>
}
    </tbody>
</table>
